{% extends "pages/base.html" %}

{% block title %}Home Page{% endblock %}

{% block linkCss %}
<link rel="stylesheet" type="text/css" href="../static/css/home.css">
{% endblock %}

{% block content %}
<div class="content">
    <h1>Welcome to QuizFun</h1>
    <p>QuizFun helps you memorize and reviews easily with quizes</p>
    <div class="buttonGroup" style="width:220px">
        <a href="{% url 'register' %}"><button type="button" class="toggleButton">Join now</button></a>
    </div>
</div>

{% endblock %}