{% extends "pages/base.html" %}
{% load widget_tweaks %}
{% block title %}Login{% endblock %}
{% block linkCss %}
<link rel="stylesheet" type="text/css" href="../static/css/login.css">
{% endblock %}

{% block content %}
<div class="formBox">
    <div class="buttonGroup">
        <div id="switch"></div>
        <button type="button" class="toggleButton">Login</button>
        <a href="{% url 'register' %}"><button type="button" class="toggleButton">Register</button></a>
    </div>
    
    <form id="login" class="inputGroup" method="POST">
        {% csrf_token %}
        {% render_field form.username class="inputField" placeholder="Username" %}
        {% render_field form.password class="inputField" placeholder="Password" %}
        <input type="checkbox" class="checkBox"><span>Remember Password</span>
        <button type="submit" class="submitButton">Log in</button>
    </form>
</div>
{% endblock %}