<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Danh sách lớp học hiện có</title>
</head>
<body>
    <form action="" method="post" name="userSearching">
        {% csrf_token %}
        <input type="text" placeholder="Nhập tên, mã lớp học hoặc tên giáo viên">
        <br>
        <button type="submit">Tìm kiếm</button>
    </form>
</body>

{% block content %}
    {% for C in courses %}
        <h4>{{C.beginDate|date:"d-m-Y"}}<a href="{% url 'course_data' C.id %}">{{C.courseName}}</a></h4>
        <a href="{% url 'register_course' C.id %}"><button>Register</button></a>
    {% endfor %}
{% endblock %}

</html>