{% if failed %}
<p>Error adding pack. Please try again</p>
{% endif %}

<form action="{% url 'add_pack'%}" method="POST">
    {% csrf_token %}
    <label for="name">Pack Name</label>
    <input type="text" name="name" id="name" required>

    <label for="description">Description</label>
    <input type="text" name="description" id="description">

    <label for="category">Category</label>
    <select name="category" id="category" required>
        <option value="Vocabulary">Vocabulary</option>
    </select>
    <button type="submit">Submit</button>
</form>