<form action="{% url 'edit_question' question.id %}" method="POST">
    {% csrf_token %}
    <label for="question">Question</label>
    <input type="text" name="question" id="question" value="{{question.question}}" required>

    <label for="answer">Answer</label>
    <input type="text" name="answer" id="answer" value="{{question.answer}}"required>

    <label for="hint">Hint</label>
    <input type="text" name="hint" id="hint" value="{{question.hint}}">

    <button type="submit">Submit</button>
</form>
<a href="{% url 'edit_pack' packid %}"><button>Back</button></a>