{% extends "user_pages/user_base.html" %}

{% block sidebarMenu %}
    <li class="item">
        <a href="{% url 'student_learn' %}" class="menuButton">
            <i class="fas fa-desktop"></i><span>Learn</span>
        </a>
    </li>
    <li class="item" id="class">
        <a href="{% url 'student_add_packs' %}" class="menuButton" >
            <i class="fas fa-chalkboard-teacher"></i><span>Your collection</span>
        </a>
    </li>
    <li class="item" id="courses">
        <a href="{% url 'courses' %}" class="menuButton">
            <i class="fas fa-book"></i><span>Register to a course</span>
        </a>
    </li>
{% endblock %}