<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>Hello Teacher</p>
    <h3><a href="{% url 'create_course' %}">Create a new course</a></h3>
    {% if courses_list %}
        <h3>Courses you're managing</h3><br>
        {% for course in courses_list%}
            {{course.courseName}}
            <a href="{% url 'edit_course' course.id %}">Edit</a>
            <br>
        {% endfor %}
    {% else %}
        <p>You aren't managing any courses</p>
    {% endif %}
</body>
</html>