.wrapper .content {
	max-height: 55%;
	padding: 200px 80px 0;
	color: #fff;
}

.wrapper .content h1 {
	font-size: 48px;
}

.wrapper .content p {
	font-size: 20px;
	padding: 20px 0;
	font-weight: 300;
}

.wrapper .content .buttonGroup {
	width: 240px;
	height: 50px;
	margin-top: 30px;
	box-shadow: 0 0 15px 6px #339933;
	border-radius: 50px;
}

.wrapper .content .buttonGroup:hover {
	background-color: #339933;
}

.wrapper .content .buttonGroup .toggleButton {
	font-size: 22px;
	padding: 12px 60px;
	cursor: pointer;
	background: transparent;
	border: 0;
	outline: none;
	position: relative;
}

